body {
  background: linear-gradient(to bottom, #43047e 0%, #7b65a9 100%);
  /* These hex codes are close approximations of the colors in the image */
}
@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.timer-animation {
  animation: timer 5s linear forwards;
}
