@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom, #43047e 0%, #7b65a9 100%);
    /* These hex codes are close approximations of the colors in the image */
}